.body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  color: var(--text-color);
}
:root {
  --text-color: #2e2f42;
  --background-color: #2e2f42;
  --selection-text-color: red;
  --selction-background-color: grey;
}
/* ------------------------------HEADER--------------------------------- */
header a {
  text-decoration: none;
  color: var(--text-color);
}
.logo {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
}
.logo span {
  color: #4d5ae5;
}
nav {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}
.mail,
.tel {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}
/* ------------------------------FOOTER--------------------------------- */
footer {
  background-color: var(--background-color);
  color: #f4f4fd;
}
footer a {
  text-decoration: none;
  color: #f4f4fd;
}
footer p {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

/* ------------------------------STUDIO-CONTENT--------------------------------- */
.hero-image {
  background-color: var(--background-color);
  color: #ffffff;
}
.hero-image .h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}
.hero-image button {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: left;
  background-color: #4d5ae5;
}
button:hover {
  cursor: pointer;
}
.section-1 h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
}
.section-1 p {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}
.section-2 h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}
.section-3 h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}
.section-3 h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}
.section-3 p {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
/* -----------------------------PORTFOLIO-CONTENT------------------------------- */
.pf-filter button {
  color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  background-color: #f4f4fd;
}
.pf-filter button:hover,
.pf-filter button:focus {
  color: #ffffff;
  background-color: #404bbf;
}
.pf-photo h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
}
.pf-filter p {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}
